<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- REFERENCES -->
	<env-entry>
		<env-entry-name>APP_NAME</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>growller</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>RESOURCES_DIR</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/src/app</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>CONFIG_FILENAME</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>growller-processor.cfg</env-entry-value>
	</env-entry>
</web-app>